################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tinkoff-invest/obj
/tinkoff-invest/bin
/Tinkoff.Services.Test/bin
/Tinkoff.Services.Test/obj
/TinkoffUnvestService/bin
/TinkoffUnvestService/obj
