################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Invest.App/bin
/Invest.App/obj
/Invest.Services/bin
/Invest.Services/obj
/Invest.Services.Test/bin
/Invest.Services.Test/obj
/TinkoffInvestService/obj
/Invest.Services.Quotes/bin
/Invest.Services.Quotes/obj
/Invest.Services.Tinkoff/bin
/Invest.Services.Tinkoff/obj
/Testing.StockSharp.App/obj
/Testing.StockSharp.App/bin
/Ivka.Invest.TradeService/obj
