################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Invest.App/bin
/Invest.App/obj
/Invest.Services/bin
/Invest.Services/obj
/Invest.Services.Test/bin
/Invest.Services.Test/obj
/TinkoffInvestService/obj
